html {
  margin: 0;
}

span {
  display: block;
}

.main
{
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
            display: inline-block;
            width: 100px;
            height: 40px;
            margin: 10px;
            background-color: lightgray;
            cursor: pointer;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            font-size: 1em;
        }

        #img1 {
            background-color: #ffcccc;
        }
        #img2 {
            background-color: #ccffcc;
        }
        #img3 {
            background-color: #ccccff;
        }